a:hover, a:active, a:focus{
	text-decoration: none;
	outline: none;
}


/*==============================
=            Header            =
==============================*/

.cd-main-header{
	background-color: #5ccddf;
	color: #fff;
}
.cd-main-header a{
	color: #fff;

}

.cd-side-nav li a{
	font-size: 14px;
	padding: 10px 10px 10px 32px !important; 
	color: #b9b8bd;

}

.cd-side-nav .active a{
	color: #fff;
}

.cd-side-nav .active  ul li a{
	color: #b9b8bd;
}

.cd-side-nav li ul li a{
	font-size: 13px;
	padding: 8px 10px; 
	color: #b9b8bd;

}

.cd-side-nav{
	    background-color: #354052;
}

.cd-side-nav > ul {
  padding-top: 25px;
}

.cd-side-nav > ul > li:not(.action-btn):hover > a{
	background-color: #5CCDDF!important;
}

.cd-main-header .cd-logo{
	background-color: #354052;
    margin: 0;
    padding: 25px 38px 16px 17px;
    display: block;
    border: 0px;
}
.cd-main-header .cd-search{
	margin-left: 0;
}

.has-children ul{
background-color: rgb(37, 45, 58);
}

.cd-search input{
	background-color: transparent;
	border: none;
}
.cd-top-nav .has-children{
	background-color: transparent;
}
.cd-welcome .fa{
	margin: 0 1.25em;
}
.cd-welcome strong{
	font-weight: bold;
	text-transform: uppercase;
}
.cd-welcome {
  display: inline-block;
  float: left;
  height: 100%;
  margin: 0;
  /*width: 250px;*/
	padding-top: 15px;
}

.breadcrumb a{
	color: #6e7e95;
	font-size: 12px;
}

.breadcrumb  .active{
	    color: #1C1F22!important;
}

/*=====  End of Header  ======*/



/*===============================
=            Sidebar            =
===============================*/
.cd-side-nav{

}
.cd-side-nav > ul > li > a::before{
	display: none;
}
.cd-side-nav > ul > li > a > i.fa{
	position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
font-size: 17px;
color: #585C64;
}

.cd-side-nav > ul > li.active > a> i.fa{
	color: white;
}

@media only screen and (min-width: 768px) and (max-device-width : 1169px){
	.cd-side-nav > ul > li > a > i.fa {
	    left: 50%;
	    right: auto;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    transform: translateX(-50%);
	    top: 1.2em;
	    font-size: 20px;
	  }
}
.cd-side-nav .active > a {
  box-shadow: 3px 0 0 #5ccddf inset;
      background: #5CCDDF;
}
/*=====  End of Sidebar  ======*/


/*============================
=            BODY            =
============================*/

.cd-main-content .content-wrapper {
  padding: 75px 2.5em 2.5em;
}

body{
	background-color: #f2f2f2;
}


/*=====  End of BODY  ======*/


/*============================
=            TABLE            =
============================*/

#myTable {
	border: 1px solid #e1e1e1;
    color: #828692;
    border-radius: 2px;
    margin-bottom: 25px;
    font-size: 14px;
}

#myTable thead{
	background: #5dcedc;
	color: white;
}

.custom-table{
	    margin-top: 25px;
}

#myTable_filter{
	    margin-bottom: 5px;
}

#myTable_length{
	padding-top: 15px;
}


#myTable_filter input{
    border: 0px;
    height: 35px;
}

#myTable_length label, #myTable_filter label{
	color: #49454C;
    font-weight: normal;
    font-size: 14px;
}

.fa{margin-right: 10px;}

.edit-icon{
	color: #87B76F;
}
.hold-icon{
	 color: red;
}

.delete-icon{
	 color: black;
}

#myTable .odd{
	background: #F6F9FF;

    }

#myTable .odd td{
 border-bottom: 1px solid #E1E1E1;
 border-top: 1px solid #E1E1E1;
}

#myTable .disabled td{
background: #FFF6F5;}

/*============================
=            TABLE            =
============================*/

/*============================
=            FORM            =
============================*/


.form-container{

    padding: 30px 10px;
    margin: auto;}

.btn-container{
	    text-align: center;
}

.btn-container .btn{
	border-radius: 2px;
    background: #5CCDDF;
    border: 0px;
    padding: 5px 15px;
    margin-top: 15px;
}

.form-container .form-control{
	border: 1px solid #DCD8D8;
	border-radius: 2px;

}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: white!important;
}

/*============================
=            FORM            =
============================*/


/*============================
=            PAGES            =
============================*/
.page-heading h1{
	text-align: left!important;
    padding: 10px 0px!important;
}

.account  ul{
	    background-color: #5DCEDC!important;
}

.account  ul a:hover {
    color: #3E4A5B!important;
}

